<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Omega", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="width: 75%; display: flex; justify-content: center">
                    @*<li>@Html.ActionLink("Strona główna", "Index", "Home")</li>*@

                    <li>
                        @using (Html.BeginForm("Search", "Products", FormMethod.Get, new { @class="navbar-form navbar-left"}))
                        {
                            <div class="form-group">
                                <input name="searchText" type="text" class="form-control" style="width: 300px" placeholder="Szukaj">
                            </div>
                            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        }
            
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @if (ViewBag.DisableSectionsMenu != true)
    {
        <div class="container" style="margin-top: 10px">
            <div style="; width: 100%; display: flex; justify-content: space-between">
                @Html.Partial("_NavMenu")
            </div>
        </div>
    }


@if (User.IsInRole("Admin"))
{
    @Html.Partial("_AdminMenu")
}



<div class="container body-content" style="margin-top: 10px">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Omega</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


