@model ElectronicsShop.Models.DbModels.Product

@{
    ViewBag.Title = "Usuń";
}
<h2>Usuń</h2>

<h3>Czy jesteś pewien, że chcesz to usunąć?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            Marka
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand.Name)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            Nazwa
        </dd>

        <dt>
            Cena
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Wróć", "Index")
        </div>
    }
</div>
