@model ElectronicsShop.ViewModels.ProductDetailsViewModel

@{
    ViewBag.Title = "Details";
    var imgState = "imgShow";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index", "Home")">Omega</a></li>
    <li><a href="#">@Model.Product.Category.Section.Name</a></li>
    <li><a href="#">@Model.Product.Category.Name</a></li>
    <li>@Model.Product.Brand.Name</li>
</ol>


<div class="content">
    <div class="slider" style="height: 500px"> 
        <div class="left-arrow">
            <div class="arrow"><i class="fas fa-angle-left"></i></div>
        </div>

        @foreach (var image in Model.Images)
        {
            <div class="imgHolder @imgState">
                <img class="img" src="@image.Url" alt="">
            </div>
            imgState = "imgHidden";
        }


        <div class="right-arrow">
            <div class="arrow"><i class="fas fa-angle-right"></i></div>
        </div>
        <div class="dotHolder">
        </div>
    </div>
    <div class="productInfo">
        <div class="nameAndPrice">
            <h1>@Model.Product.Brand.Name @Model.Product.Name</h1>
            <h2>Cena za sztukę: @Model.Product.Price zł</h2>
        </div>

        <h5 style="color: crimson">@ViewBag.ErrorMessage</h5>
        <h5 style="color: green; text-align: center" >@ViewBag.Success</h5>


        @using (Html.BeginForm("AddToCart", "ShoppingCart", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("productId", Model.Product.Id)
            <input type="number" name="quantity" value="1" class="form-control" min="1" , style="width: 75px" />
            @*@Html.EditorFor(model => model.Product.QuantityInStock, new { htmlAttributes = new { @class = "form-control", min = "1", @Value = "1", style = "width: 75px" } })*@
            @*@Html.TextBox("quantity", 1, new { htmlAttributes = new { @class = "form-control", min = "1", @Value = "1", @Type="number", style = "width: 75px" } })*@

            <button class="btn btn-default" style="">Dodaj do koszyka</button>
        }

        <h3 class="quantity">Pozostało @Model.Product.QuantityInStock sztuk</h3>

    </div>

</div>

<h3>Specyfikacja</h3>
<table class="table table-striped">
    @foreach (var item in Model.Tags)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Value</td>
        </tr>
    }
</table>

<style>
    .content {
        display: flex;
        /*border: 1px solid red;*/
    }

        .content form {
            width: 60%;
            display: flex;
            justify-content: space-around;
        }

    .nameAndPrice {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 30px;
    }

        .nameAndPrice h1 {
            font-size: 25px;
            text-align: center;
        }

        .nameAndPrice h2 {
            font-size: 20px;
        }

    .productInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 35%;
        border: 1px solid rgba(0,0,0, .2)
    }

    .quantity {
        font-size: 18px;
    }

    td:nth-child(odd) {
        width: 50%;
        font-weight: bold;
        text-align: right
    }

    .breadcrumb {
        margin-bottom: 10px;
    }
</style>


@Styles.Render("~/Content/slider.css")

@section Scripts
{
    <script src="../../Content/slider.js"></script>
}

@*<h2>Details</h2>

    <div>
        <h4>Product</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Brand.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Brand.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Category.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Gallery.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Gallery.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsRecommended)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsRecommended)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.QuantityInStock)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.QuantityInStock)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
