@using ElectronicsShop.Models
@model IEnumerable<ElectronicsShop.Models.DbModels.Product>

@{
    ViewBag.Title = ControllerList.Products.Label;
    ViewBag.DisableSectionsMenu = true;
}

    <h2>@ControllerList.Products.Label</h2>

@Html.Partial("_AdminMenu", ViewData["controllerName"] = ControllerList.Products.ControllerName)


<p>
    @Html.ActionLink("Utwórz", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nazwa
        </th>
        <th>
            Marka
        </th>
        <th>
            Cena
        </th>
        <th>
            Ilość
        </th>
        <th>
            Polecany
        </th>
        <th>
            Specyfikacja
        </th>
        <th>
            Galeria
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRecommended)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "SetTags", "Products", new { id = item.Id}, null)
            </td>
            <td>
               @if (item.GalleryId > 0)
               {
                   @Html.ActionLink(item.Gallery.Name, "Edit", "Galleries", new { id = item.Gallery.Id}, null)
               }
               else
               {
                   @Html.ActionLink("-Dodaj-", "Create", "Galleries", new { id = item.Id}, null)
               }
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }) |
                @Html.ActionLink("Usuń", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
