@model ElectronicsShop.ViewModels.ManageOrderViewModel

<h3>Dane do zamówienia nr 1</h3>

<table class="table-striped table">
    <tr>
        <td class="td">Email do kontaktu: </td>
        <td>admin@omega.pl</td>
    </tr>
    <tr>
        <td class="td">Data zamówienia</td>
        <td>29/04/2020</td>
    </tr>

    <tr>
        <td class="td">Cena zamówienia:</td>
        <td>1000 zł</td>
    </tr>
</table>
<hr/>
<div class="border-top my-3"></div>
<h3>Adres wysyłki</h3>

<table class="table-striped table">
    <tr>
        <td class="td">Imię i nazwisko: </td>
        <td>Jan Kowalski</td>
    </tr>
    <tr>
        <td class="td">Kod pocztowy: </td>
        <td>38-400</td>
    </tr>

    <tr>
        <td class="td">Ulica:</td>
        <td>Staszica 17</td>
    </tr>
    
    <tr>
        <td class="td">Numer telefonu:</td>
        <td>123456789</td>
    </tr>
</table>


<h4>Zamówione produkty</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Produkt</th>
            <th>Cena za sztukę</th>
            <th>Ilość</th>
            <th>Czy skompletowany</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var item in Model.OrderDetails)
            {
                <tr>
                    <td>@item.Product.Brand.Name @item.Product.Name</td>
                    <td>@item.PricePerItem.ToString("F") zł</td>
                    <td>@item.Quantity</td>
                    <td style="display: flex; justify-content: space-around; align-items: center">
                        @item.IsCompleted

                        @using (Html.BeginForm("ChangeStatus", "OrderProcessing", FormMethod.Post))
                        {
                            @Html.Hidden("orderDetailsId", item.OrderDetailsId)
                            @Html.Hidden("orderId", item.OrderId)
                            <button class="btn btn-primary" type="submit">Zmień status</button>
                        }
                    </td>
                </tr>
            }*@

        <tr>
            <td>Zestaw diod LED 5mm - 16szt.</td>
            <td>2,50 zł</td>
            <td>2</td>
            <td style="display: flex; justify-content: space-around; align-items: center">
                @*@item.IsCompleted*@
                Nie
                @using (Html.BeginForm("ChangeStatus", "OrderProcessing", FormMethod.Post))
                {
                    @*@Html.Hidden("orderDetailsId", item.OrderDetailsId)
                        @Html.Hidden("orderId", item.OrderId)*@
                    <button class="btn btn-primary" type="submit">Zmień status</button>
                }
            </td>
        </tr>



        <tr>
            <td>Trackimo Optimum 2G - lokalizator samochodowy GPS/GSM</td>
            <td>499,00 zł</td>
            <td>1</td>
            <td style="display: flex; justify-content: space-around; align-items: center">
                @*@item.IsCompleted*@
                Nie
                @using (Html.BeginForm("ChangeStatus", "OrderProcessing", FormMethod.Post))
                {
                    @*@Html.Hidden("orderDetailsId", item.OrderDetailsId)
                        @Html.Hidden("orderId", item.OrderId)*@
                    <button class="btn btn-primary" type="submit">Zmień status</button>
                }
            </td>
        </tr>

        <tr>
            <td>
                @using (Html.BeginForm("SetStatusToSend", "OrderProcessing", FormMethod.Post))
                {
                    //if (Model.OrderDetails.All(d => d.IsCompleted != false))
                    //{
                    @*@Html.Hidden("orderId", Model.Order.OrderId)*@
                    @Html.HiddenFor(d => d.Order.OrderId)
                    @*<button type="submit" class="btn btn-primary">Zmień status na wysłany</button>*@
                    @*}
                        else
                        {*@
                    <button type="submit" class="btn btn-primary disabled" disabled>Zmień status na wysłany</button>
                    @*  }*@
                }

            </td>
            <td>
                @using (Html.BeginForm("Cancel", "OrderProcessing"))
                {
                    @Html.HiddenFor(d => d.Order.OrderId)
                    <button type="submit" class="btn btn-danger">Anuluj zamówienie</button>
                }
            </td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>




@Html.ActionLink("Powrót", "Index")

<style>

    .td {
        width: 50%;
        font-weight: bold;
        text-align: right
    }
</style>